* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #07111f;
  color: white;
  overflow-x: hidden;
}

.header {
  background: linear-gradient(90deg, #c8102e, #0a0f2c);
  padding: 15px 0;
  border-bottom: 3px solid white;
  position: sticky;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(10px);
}

.header-container {
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 50px;
}

.logo h1 {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1px;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.3s;
  position: relative;
}

.menu a:hover {
  color: #ff7b00;
}

.menu .active {
  color: #ff7b00;
}

.hero {
  width: 100%;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  background:
    linear-gradient(rgba(4, 10, 25, 0.82), rgba(4, 10, 25, 0.92)),
    url(../assets/imgs/fundo-nba.jpg);

  padding: 40px;
}

.hero span {
  color: #ff7b00;
}

.hero h2 {
  font-size: 48px;
  width: 900px;
  max-width: 100%;
  line-height: 1.1;
  font-weight: 900;
}

.hero p {
  margin-top: 20px;
  font-size: 18px;
  color: #d6d6d6;
  max-width: 850px;
  line-height: 1.8;
}

.hero button {
  margin-top: 50px;
  width: 240px;
  height: 65px;
  border: none;
  border-radius: 16px;
  background: linear-gradient(90deg, #ff7b00, #ff4800);
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
  box-shadow: 0 15px 40px rgba(255, 123, 0, 0.35);
}

.hero button:hover {
  transform: translateY(-5px) scale(1.03);
}

.parte-de-baixo {
  margin-top: 50px;
  margin-bottom: -100px;
  background:
    linear-gradient(180deg,
      #07111f 0%,
      #0d1b33 50%,
      #10284f 100%);
}

.sobre {
  padding: 120px 0;
}

.sobre-container {
  width: 90%;
  max-width: 1500px;
  height: 1650px;
  margin: auto;
}

.titulo-museu {
  text-align: center;
  margin-bottom: 90px;
}

.titulo-museu span {
  color: #ff8c00;
  font-weight: 800;
  letter-spacing: 5px;
  font-size: 15px;
}

.titulo-museu h2 {
  font-size: 56px;
  width: 1000px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-weight: 900;
  line-height: 1.1;
}

.titulo-museu p {
  color: #d0d0d0;
  margin: 35px auto 0 auto;
  font-size: 22px;
  line-height: 2;
  max-width: 1050px;
}

.titulo-museu img{
  width: 48px;
}

.impacto-nba {
  font-size: 56px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 90px;
}

.impacto-texto {
  max-width: 1200px;
  margin: auto;
}

.impacto-texto h2 {
  font-size: 52px;
  margin-bottom: 30px;
  font-weight: 900;
}

.impacto-texto p {
  color: #d2d2d2;
  line-height: 2;
  font-size: 20px;
  margin-bottom: 25px;
}

.linha-tempo {
  display: flex;
  gap: 25px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.era-card {
  flex: 1;
  min-width: 260px;
  background:
    linear-gradient(180deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.02));
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 32px;
  padding: 38px;

}

.era-card:hover {
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.35);
}

.era-numero {
  font-size: 60px;
  font-weight: 900;
  color: #ff8c00;
  margin-bottom: 20px;
}

.era-card h3 {
  color: white;
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 1.2;
}

.era-card p {
  color: #cfcfcf;
  line-height: 1.9;
  font-size: 17px;
}

.museu-conteudo {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 35px;
  align-items: stretch;
}

.museu-esquerda {
  background:
    linear-gradient(180deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.02));

  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 35px;
  padding: 50px;
}

.museu-esquerda h2 {
  font-size: 52px;
  margin-bottom: 30px;
  line-height: 1.2;
}

.museu-esquerda p {
  color: #d0d0d0;
  line-height: 2;
  margin-bottom: 25px;
  font-size: 19px;
}

.curiosidades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 45px;
}

.curiosidade-card {
  background:
    linear-gradient(180deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.02));

  border-radius: 28px;
  padding: 35px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.06);
}

.curiosidade-card h3 {
  color: #ff8c00;
  font-size: 50px;
  margin-bottom: 12px;
}

.curiosidade-card p {
  color: white;
  line-height: 1.7;
  font-size: 16px;
}

.museu-direita {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.museu-direita .info-linha {
  flex: 1;
  background:
    linear-gradient(180deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.02));

  border-radius: 30px;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.museu-direita .info-linha:hover {
  border-color: #ff8c00;
}

.museu-direita .info-linha h3 {
  color: white;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 25px;
}

.museu-direita .info-linha p {
  color: #d0d0d0;
  line-height: 1.9;
  font-size: 17px;
}

.times {
  padding: 120px 0;
  background: #091425;
  text-align: center;
}

.times h2 {
  font-size: 65px;
  margin-bottom: 20px;
  font-weight: 900;
}

.conferencia {
  margin-top: 80px;
  margin-bottom: 35px;
  font-size: 38px;
  font-weight: 800;
}

.leste {
  color: #4da6ff;
}

.oeste {
  color: #ff5e5e;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card-nba {
  width: 250px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 28px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.card-nba:hover {
  box-shadow:
    0 20px 35px rgba(0, 0, 0, 0.35);
}

.card-img {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img img {
  width: 130px;
  transition: 0.4s;
}

.card-nba:hover img {
  transform: scale(1.2);
}

.card-info {
  padding: 25px;
}

.card-info h2 {
  font-size: 22px;
  color: white;
}

.footer {
  background: #050b16;
  padding-top: 80px;
}

.footer-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-col {
  width: 280px;
}

.footer-col h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.footer-col h3 {
  margin-bottom: 15px;
  color: #ff7b00;
}

.footer-col p {
  color: #c9c9c9;
  line-height: 1.8;
}

.footer-col a {
  display: block;
  color: #c9c9c9;
  text-decoration: none;
  margin-bottom: 10px;
  transition: .3s;
}

.footer-col a:hover {
  color: #ff7b00;
}

.footer-bottom {
  margin-top: 60px;
  text-align: center;
  padding: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  color: #8f8f8f;
}

@media screen and (max-width: 1200px) {

  .linha-tempo {
    flex-wrap: wrap;
  }

  .museu-conteudo {
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width: 900px) {

  .hero h2 {
    font-size: 48px;
  }

  .titulo-museu h2 {
    font-size: 50px;
  }

  .impacto-texto h2 {
    font-size: 40px;
  }

  .curiosidades {
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width: 768px) {

  .header-container {
    flex-direction: column;
    gap: 20px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero {
    min-height: 80vh;
  }

  .hero h2 {
    font-size: 38px;
  }

  .hero p {
    font-size: 18px;
  }

  .titulo-museu h2 {
    font-size: 38px;
  }

  .impacto-texto h2 {
    font-size: 32px;
  }

  .museu-esquerda,
  .museu-direita .info-linha {
    padding: 30px;
  }

  .times h2 {
    font-size: 42px;
  }

}