.login-page {
    margin: 0;
    font-family: Arial;

    background:
        linear-gradient(rgba(10, 15, 44, 0.85),
        rgba(29, 43, 100, 0.9)),
        url(../assets/imgs/imagem-fundo-login.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.login-header {
    background: linear-gradient(90deg, #c8102e, #0a0f2c);
    padding: 15px 0;
    border-bottom: 3px solid white;
}

.login-container {
    width: 80%;
    margin: auto;
}

.login-header .login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-login {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-login img {
    width: 40px;
    height: 40px;
}

.logo-login h1 {
    margin: 0;
    font-size: 24px;
}

.login-navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.login-navbar .active {
    color: #ffd700;
}

.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.login-card {
    width: 400px;
    background-color: #0a0f2c;
    border-radius: 15px;
    padding: 40px;
    border: 2px solid #ffffff20;
}

.login-card h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 32px;
}

.login-card p {
    text-align: center;
    color: #d0d0d0;
    margin-bottom: 30px;
}
.login-card img{
    margin-bottom: -8px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.campo span {
    margin-bottom: 8px;
    font-weight: bold;
}

.campo input {
    height: 45px;
    border: none;
    border-radius: 8px;
    padding-left: 12px;
    font-size: 15px;
    outline: none;
}

.botao {
    height: 48px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: #c8102e;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.alerta_erro {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card_erro {
    display: none;
    background-color: #ffdddd;
    color: red;
    padding: 15px;
    border-radius: 8px;
}

.login-footer {
    background-color: #0a0f2c;
    padding: 20px 0;
}

.login-footer .login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-footer h4 {
    margin: 0;
}

.version {
    color: #999;
}