* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #07111f;
  color: white;
}

/* HEADER */

.header {
  background: linear-gradient(90deg, #c8102e, #0a0f2c);
  padding: 15px 0;
  border-bottom: 3px solid white;
}

.header-container {
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 50px;
}

.logo h1 {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1px;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.3s;
  position: relative;
}

.menu a:hover {
  color: #ff7b00;
}

.menu .active {
  color: #ff7b00;
}

.hero {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  background:
    linear-gradient(rgba(4, 10, 25, 0.85), rgba(4, 10, 25, 0.9)),
    url(../assets/imgs/fundo-nba.jpg);

  padding: 40px;
}

.hero span {
  color: #ff7b00;
}

.hero h2 {
  font-size: 50px;
  width: 700px;
  line-height: 1.1;
  font-weight: 900;
}

.hero p {
  margin-top: 25px;
  font-size: 22px;
  color: #d6d6d6;
  max-width: 700px;
  line-height: 1.6;
}

.hero button {
  margin-top: 50px;

  width: 220px;
  height: 60px;

  border: none;
  border-radius: 12px;

  background: linear-gradient(90deg, #ff7b00, #ff4800);

  color: white;
  font-size: 18px;
  font-weight: 700;

  cursor: pointer;

  box-shadow: 0 10px 30px rgba(255, 123, 0, 0.4);
}

.parte-de-baixo {
  background: linear-gradient(#07111f, #18458e);
}

.sobre {
  padding: 120px 0;
}

.sobre-container {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
}

.coluna-esquerda {
  width: 50%;
}

.coluna-esquerda h2 {
  font-size: 55px;
  margin-bottom: 30px;
  font-weight: 900;
}

.coluna-esquerda p {
  color: #d8d8d8;
  line-height: 1.8;
  font-size: 18px;
  margin-bottom: 20px;
}

.coluna-direita {
  width: 50%;
}

.info-linha {
  margin-bottom: 25px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: 0.3s;
}

.info-linha h3 {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-bottom: 10px;

  font-size: 22px;
}

.info-linha p {
  color: #cfcfcf;
  line-height: 1.6;
}

.times {
  padding: 120px 0;
  background: #091425;
  text-align: center;
}

.times h2 {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 900;
}

.conferencia {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 800;
}

.leste {
  color: #4da6ff;
}

.oeste {
  color: #ff5e5e;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card-nba {
  width: 250px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.card-img {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img img {
  width: 130px;
  transition: 0.4s;
}

.card-info {
  padding: 25px;
}

.card-info h2 {
  font-size: 22px;
  color: white;
}

.footer {
  background: #050b16;
  padding-top: 70px;
}

.footer-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  width: 280px;
}

.footer-col h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.footer-col h3 {
  margin-bottom: 15px;
  color: #ff7b00;
}

.footer-col p {
  color: #c9c9c9;
  line-height: 1.7;
}

.footer-col a {
  display: block;
  color: #c9c9c9;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-col a:hover {
  color: #ff7b00;
}

.footer-bottom {
  margin-top: 60px;
  text-align: center;
  padding: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  color: #8f8f8f;
}
